DATABASE_URL="postgresql://postgres:postgres@db:5432/satojay_gym?schema=public"
DATABASE_URL_UNPOOLED="postgresql://postgres:postgres@db:5432/satojay_gym?schema=public"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="satojay_gym"
POSTGRES_PORT="5432"
ADMIN_PASSWORD_HASH="\$2b\$10\$jTUCqtjTyw9WhVZbdK1oVuH/pbweVTwNofOCb9gwKNONZKqCaXKU6"
ADMIN_SESSION_SECRET="replace-with-production-secret-at-least-32-characters"
APP_PORT="3000"
PORT="80"
